.so-list {
  /* your component style */
  background-color: #F0F1F2;
  &__title {
    font-size: 16px;
    color: #333;
    padding: 12px 16px;
  }
}
.so-list-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 16px;
  position: relative;
  align-items: center;
  &__left {
    padding: 14px 0;
    flex: 1
  }
  &__title {
    font-size: 16px;
    color: #1b1c33;
  }
  &__inline-desc {
    color: #999;
    font-size: 12px;
    word-break: break-all;
  }
  &__right {
    padding: 13px 0;
    font-size: 14px;
    color: #8d8e99;
    white-space: nowrap;
    margin-left: 5px;
  }
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    border-top: 1px solid #d7d7db;
  }
}
