// .iconfont {
//   font-family: "iconfont" !important;
//   font-size: 16px;
//   font-style: normal;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
.so-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 'so-icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &:before {
    display: inline-block;
  }
}

.so-icon-simple-add:before {
  content: "\e60a";
}

.so-icon-add:before {
  content: "\e603";
}

.so-icon-arrow-down:before {
  content: "\e604";
}

.so-icon-arrow-up:before {
  content: "\e605";
}

.so-icon-arrow:before {
  content: "\e606";
}

.so-icon-delete:before {
  content: "\e607";
}

.so-icon-close:before {
  content: "\e608";
}

.so-icon-arrow-left:before {
  content: "\e601";
}

.so-icon-add-o:before {
  content: "\e602";
}
