@import './common.scss';

@font-face {
  font-weight: normal;
  font-family: 'so-icon';
  font-style: normal;
  font-display: auto;
  src: url('//at.alicdn.com/t/c/font_3773502_wbbd47f8jmd.woff2?t=1688624408526') format('woff2'),
       url('//at.alicdn.com/t/c/font_3773502_wbbd47f8jmd.woff?t=1688624408526') format('woff'),
       url('//at.alicdn.com/t/c/font_3773502_wbbd47f8jmd.ttf?t=1688624408526') format('truetype'),
       url('//at.alicdn.com/t/c/font_3773502_wbbd47f8jmd.svg?t=1688624408526#iconfont') format('svg');
}