@import '../styles/mixins/mixin';

.so-list-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 16px;
  position: relative;
  align-items: center;
  &__left {
    padding: 14px 0;
    flex: 1
  }
  &__title {
    font-size: 16px;
    color: #1b1c33;
  }
  &__inline-desc {
    color: #999;
    font-size: 12px;
    word-break: break-all;
  }
  &__right {
    padding: 13px 0;
    font-size: 14px;
    color: #8d8e99;
    white-space: nowrap;
    margin-left: 5px;
  }
  &::before {
    @include top-line($left: 16px, $right: 16px)
  }
  &:first-child {
    &::before {
      display: none;
    }
  }
}