@import '../styles/mixins/color';

.so-field {
  &__input {
    border: 0;
    user-select: auto;
    width: 100%;
    flex: 1;
    min-width: 0;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: transparent;
    }
    &::placeholder {
      color: $gray-500;
    }
  }

  &__left-icon {
    margin-right: 4px;
  }

  &__label {
    &--disabled {
      color: $gray-500;
    }
  }

  &__field-body {
    display: flex;
  }
}