$so-doc-black: #323233;
$so-doc-blue: #1989fa;
$so-doc-purple: #8080ff;
$so-doc-fuchsia: #a7419e;
$so-doc-green: #4fc08d;
$so-doc-text-color: #34495e;
$so-doc-text-light-blue: rgba(69, 90, 100, 0.6);
$so-doc-background-color: #f7f8fa;
$so-doc-grey: #999;
$so-doc-dark-grey: #666;
$so-doc-light-grey: #ccc;
$so-doc-border-color: #f1f4f8;
$so-doc-code-color: #58727e;
$so-doc-code-background-color: #f1f4f8;
$so-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
$so-doc-padding: 24px;
$so-doc-row-max-width: 1680px;
$so-doc-nav-width: 220px;
$so-doc-border-radius: 20px;

// header
$so-doc-header-top-height: 64px;
$so-doc-header-bottom-height: 50px;

// simulator
$so-doc-simulator-width: 360px;
$so-doc-simulator-height: 620px;
