@import '../styles/mixins/mixin';
@import '../styles/mixins/color';
@import '../styles/mixins/variables';

.so-tab {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__header {
    width: 100%;
    height: 44;
    color: #8d8e99;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
    position: relative;
    display: flex;
    cursor: pointer;
    user-select: none;
    &--complete {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__title {
    flex: 1;
    word-break: keep-all;
    padding: 0 $padding-lg;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &--active {
      color: $gray-900;
    }
    &--disabled {
      color: $disabled-text;
      cursor: not-allowed;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: $primary;
  }

  &--vertical {
    flex-direction: row;
    .so-tab__header {
      width: auto;
      flex-direction: column;
    }
    .so-tab__line {
      right: 0;
      left: auto;
      bottom: auto;
      top: 9px;
    }
  }
}
